* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  background-color: #efe8d5;
}

.header {
  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: pink;
}

Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
